:root {
	--low-accent: #00A6B3;
	--high-accent: #F15B31;
	--header-height: 105px;
	--nav-height: 20px;
}

body {
	text-align: center;
	margin: 0;
}

h1, h2, a {
	text-transform: uppercase;
	font-family: Raleway, sans-serif;
	letter-spacing: 1px;
}

h1 {
	color: #0D2C40;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

h2 {
	color: #0D2C40;
	font-weight: 600;
	font-size: 20px;
	margin: 60px 10px 20px 10px;
}

/* making Game link jump to top of game and not heading*/
h6 {
	padding-top: 150px;
	margin-top: -150px;
}

a {
	text-decoration: none;
	color: #F15B31;
	font-weight: 600;
	font-size: 18px;
	border-bottom: 2px solid transparent;
}


header {
	background-color: var(--high-accent);
	padding-top: 30px;
	position: fixed;
	width: 100%;
	height: var(--header-height);
	top: 0px;
}

header > h1 {
	color: #FFFFFF;
	text-align: center;
}

nav {
	background-color: var(--low-accent);
	padding: 20px 0;
	position: fixed;
	width: 100%;
	height: var(--nav-height);
	top: var(--header-height);
}

nav > a {
	color: #FFFFFF;
	padding: 0 20px;
}

a:hover {
	border-color: white;
}

main {
	width: 1100px;
	margin: 35px auto;
	margin-top: 220px;
}

/*fix content disappearing behind fixed nav when links are clicked*/
main>h2:before {
    content: " ";
    display: block;
    visibility: hidden;
    margin-top: -14em;
    height: 14em;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 16px;
	text-align: justify;
/*	text-align-last: center;*/
	}

p > a {
	font-family: "Droid Serif", serif; 
	line-height: 26px;
	font-size: 16px;
	color: black;
	text-decoration: underline;
	text-transform: lowercase;
	font-weight: normal;
}

p > a:hover {
	color: var(--high-accent);
}

#bonus > p {
	text-align: center;
}

img {
	margin: 40px 8px 0 8px;
}

footer {
	text-transform: uppercase;
	padding: 10px 20px;
	background-color: #0D2C40;
	color: white;
}

footer p {
	font-family: Raleway, sans-serif;
	font-size: 14px;
	letter-spacing: 0.2em;
	font-weight: 500;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	font-size: 0;
	height: 0;
}

.name {
	color: var(--high-accent);
	font-weight: 700;
}

.highlight {
	color: var(--high-accent);
}

#game-status {
	background-color: white;
	color: var(--low-accent);
	margin: 35px 8px 80px 8px;
	padding: 20px;
	text-transform: uppercase;
	font-family: Raleway, sans-serif;
	letter-spacing: 1px;	
	font-weight: 500;
	text-align: left;
	font-size: 20px;
}


.continue {
	float: right;
    -webkit-animation: myblink 1s infinite alternate;
    -moz-animation: myblink 1s infinite alternate;
    animation: myblink 1s infinite alternate;
}

.continue:hover {
	color: var(--high-accent);
	cursor: pointer;
	cursor: hand;
}

.blinking {
    -webkit-animation: myblink 1s infinite alternate;
    -moz-animation: myblink 1s infinite alternate;
    animation: myblink 1s infinite alternate;
}

@keyframes myblink {
    from {opacity: 0.1;}
    to {opacity: 1;}
}

@-webkit-keyframes myblink {
    from {opacity: 0.1;}
    to {opacity: 1;}
}

@-moz-keyframes myblink {
    from {opacity: 0.1;}
    to {opacity: 1;}
}


